[flake8]
max-line-length = 120
ignore =
  # allow line breaks before binary ops
  W503

  # allow line breaks after binary ops
  W504

  # allow whitespace before ':' (https://github.com/psf/black#slices)
  E203

exclude =
  .bzr
  .git
  .hg
  .svn
  .tox
  CVS
  .venv*/
  venv*/
  target
  __pycache__
  mock_collector_service_pb2.py
  mock_collector_service_pb2.pyi
  mock_collector_service_pb2_grpc.py
