boto3==1.40.53
botocore==1.40.53
fakeredis==2.37.0
flask==3.1.2
grpcio==1.83.0
opentelemetry-distro==0.65b0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation-botocore==0.65b0
opentelemetry-instrumentation-flask==0.65b0
opentelemetry-instrumentation-grpc==0.65b0
opentelemetry-instrumentation-redis==0.65b0
opentelemetry-instrumentation-requests==0.65b0
opentelemetry-instrumentation-sqlalchemy==0.65b0
redis==8.1.0
requests==2.32.5
sqlalchemy==2.0.44
