opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-semantic-conventions
opentelemetry-test-utils
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlite3
