opentelemetry-api==1.39.0
opentelemetry-sdk==1.39.0
opentelemetry-instrumentation==0.60b0
opentelemetry-semantic-conventions==0.60b0
opentelemetry-test-utils==0.60b0
opentelemetry-instrumentation-botocore==0.60b0
opentelemetry-instrumentation-flask==0.60b0
opentelemetry-instrumentation-requests==0.60b0
opentelemetry-instrumentation-sqlite3==0.60b0
