[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "aws-opentelemetry-distro"
dynamic = ["version"]
description = "AWS OpenTelemetry Python Distro"
readme = "README.rst"
license = "Apache-2.0"
requires-python = ">=3.8"

dependencies = [
  "grpcio ~= 1.60.0",
  "opentelemetry-api ~= 1.12",
  "opentelemetry-instrumentation ~= 0.43b0",
  "opentelemetry-sdk ~= 1.13",
  "opentelemetry-distro ~= 0.43b0",
  "opentelemetry-sdk-extension-aws ~= 2.0.1",
  "opentelemetry-exporter-otlp-proto-grpc ~= 1.22.0",
  "opentelemetry-exporter-otlp-proto-http ~= 1.22.0",
  "opentelemetry-propagator-b3 ~= 1.22.0",
  "opentelemetry-propagator-jaeger ~= 1.22.0",
  "opentelemetry-instrumentation-aws-lambda ~= 0.43b0",
  "opentelemetry-propagator-aws-xray ~= 1.0.1",
  "opentelemetry-propagator-ot-trace ~= 0.43b0",
  "opentelemetry-exporter-otlp-proto-common ~= 1.22.0",
  "opentelemetry-instrumentation-aio-pika ~= 0.43b0",
  "opentelemetry-instrumentation-aiohttp-client ~= 0.43b0",
  "opentelemetry-instrumentation-aiohttp-server ~= 0.43b0",
  "opentelemetry-instrumentation-aiopg ~= 0.43b0",
  "opentelemetry-instrumentation-asgi ~= 0.43b0",
  "opentelemetry-instrumentation-asyncpg ~= 0.43b0",
  "opentelemetry-instrumentation-boto ~= 0.43b0",
  "opentelemetry-instrumentation-boto3sqs ~= 0.43b0",
  "opentelemetry-instrumentation-botocore ~= 0.43b0",
  "opentelemetry-instrumentation-celery ~= 0.43b0",
  "opentelemetry-instrumentation-confluent-kafka ~= 0.43b0",
  "opentelemetry-instrumentation-dbapi ~= 0.43b0",
  "opentelemetry-instrumentation-django ~= 0.43b0",
  "opentelemetry-instrumentation-elasticsearch ~= 0.43b0",
  "opentelemetry-instrumentation-falcon ~= 0.43b0",
  "opentelemetry-instrumentation-fastapi ~= 0.43b0",
  "opentelemetry-instrumentation-flask ~= 0.43b0",
  "opentelemetry-instrumentation-grpc ~= 0.43b0",
  "opentelemetry-instrumentation-httpx ~= 0.43b0",
  "opentelemetry-instrumentation-jinja2 ~= 0.43b0",
  "opentelemetry-instrumentation-kafka-python ~= 0.43b0",
  "opentelemetry-instrumentation-logging ~= 0.43b0",
  "opentelemetry-instrumentation-mysql ~= 0.43b0",
  "opentelemetry-instrumentation-mysqlclient ~= 0.43b0",
  "opentelemetry-instrumentation-pika ~= 0.43b0",
  "opentelemetry-instrumentation-psycopg2 ~= 0.43b0",
  "opentelemetry-instrumentation-pymemcache ~= 0.43b0",
  "opentelemetry-instrumentation-pymongo ~= 0.43b0",
  "opentelemetry-instrumentation-pymysql ~= 0.43b0",
  "opentelemetry-instrumentation-pyramid ~= 0.43b0",
  "opentelemetry-instrumentation-redis ~= 0.43b0",
  "opentelemetry-instrumentation-remoulade ~= 0.43b0",
  "opentelemetry-instrumentation-requests ~= 0.43b0",
  "opentelemetry-instrumentation-sklearn ~= 0.43b0",
  "opentelemetry-instrumentation-sqlalchemy ~= 0.43b0",
  "opentelemetry-instrumentation-sqlite3 ~= 0.43b0",
  "opentelemetry-instrumentation-starlette ~= 0.43b0",
  "opentelemetry-instrumentation-system-metrics ~= 0.43b0",
  "opentelemetry-instrumentation-tornado ~= 0.43b0",
  "opentelemetry-instrumentation-tortoiseorm ~= 0.43b0",
  "opentelemetry-instrumentation-urllib ~= 0.43b0",
  "opentelemetry-instrumentation-urllib3 ~= 0.43b0",
  "opentelemetry-instrumentation-wsgi ~= 0.43b0",
  "opentelemetry-instrumentation-cassandra ~= 0.43b0"
]

[project.optional-dependencies]
test = []

[project.entry-points.opentelemetry_configurator]
aws_configurator = "amazon.opentelemetry.distro.aws_opentelemetry_configurator:AwsOpenTelemetryConfigurator"

[project.entry-points.opentelemetry_distro]
aws_distro = "amazon.opentelemetry.distro.aws_opentelemetry_distro:AwsOpenTelemetryDistro"

[project.urls]
Homepage = "https://github.com/aws-observability/aws-otel-python-instrumentation/tree/main/aws-opentelemetry-distro"

[tool.hatch.version]
path = "src/amazon/opentelemetry/distro/version.py"

[tool.hatch.build.targets.sdist]
include = [
  "/src",
  "/tests",
]

[tool.hatch.build.targets.wheel]
packages = ["src/amazon"]
