opentelemetry-api>=1.20.0
opentelemetry-propagator-aws-xray>=1.0.0
opentelemetry-instrumentation-botocore>=0.40b0
opentelemetry-instrumentation-requests>=0.40b0
opentelemetry-instrumentation-urllib3>=0.40b0
botocore
requests
