# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
version: '3'
services:
  db:
    image: postgres:14.0
    container_name: vehicle_inventory_db
    restart: always
    volumes:
      - data:/var/lib/postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGUSER: ${POSTGRES_USER}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "vehicle_inventory", "-U", "djangouser"]
      timeout: 20s
      retries: 10
    expose:
      - 5432

  vehicle-inventory-backend:
    image: pythonsampleapp/vehicle-inventory-service
    build:
      context: .
      dockerfile: VehicleInventoryApp/Dockerfile
    container_name: vehicle-inventory-backend
    command: sh -c "python3 manage.py migrate --noinput && python3 manage.py collectstatic --noinput && python3 manage.py runserver 0.0.0.0:8001"
    restart: always
    volumes:
      - ./VehicleInventoryApp/.:/vehicle-inventory-app
    ports:
      - "8001:8001"
    depends_on:
       db:
          condition: service_healthy

  image-backend:
    image: pythonsampleapp/image-service
    build:
      context: .
      dockerfile: ImageServiceApp/Dockerfile
    container_name: image-service-backend
    command: sh -c "python3 manage.py runserver 0.0.0.0:8000"
    restart: always
    volumes:
      - ./ImageServiceApp/.:/image-service-app
      - $HOME/.aws/credentials:/home/app/.aws/credentials:ro
    ports:
      - "8000:8000"
volumes:
  data:

networks:
  mynet: