# This workflow check the code style for the repo
# TODO: add unit test check after adding AWS Distro project
name: AWS Distro Tests

on:
  push:
  pull_request:
env:
  CORE_REPO_SHA: da48e0b131ff34ff382b7d1206f71b2e31929cab
  CONTRIB_REPO_SHA: 7c12ad9844ac179e3f6a493491707a9bafd06f6b

jobs:
  misc:
    strategy:
      fail-fast: false
      matrix:
        tox-environment: ["spellcheck", "lint"]
    name: ${{ matrix.tox-environment }}
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Contrib Repo @ SHA - ${{ github.sha }}
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install tox
      run: pip install tox==3.27.1
    - name: Install libsnappy-dev
      if: ${{ matrix.tox-environment == 'lint' }}
      run: sudo apt-get install -y libsnappy-dev
    - name: Cache tox environment
        # Preserves .tox directory between runs for faster installs
      uses: actions/cache@v1
      with:
        path: |
          .tox
          ~/.cache/pip
        key: v7-misc-tox-cache-${{ matrix.tox-environment }}-${{ hashFiles('tox.ini',
          'dev-requirements.txt') }}
    - name: run tox
      run: tox -e ${{ matrix.tox-environment }}
